  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }

.answer{
    padding-left: 4em !important;
    padding-bottom: 3em !important;
}

.btn-nav{
    width:100%;
    margin-bottom: 5px;
    background-color: #193654;
}

.map-top{
    height: 70px;
}

.map{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.map-font{
    font-size: 35px;
    color: white;
}

.container1 {
    position:relative;
}
.tag1 {
    position: absolute;
    z-index: 1;
}

.no-space {
    margin-bottom: 0;
}
    