  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }

.btn-nav{
    width:100%;
    margin-bottom: 5px;
    background-color: #193654;
}

.map-top{
    height: 70px;
}

.map{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.map-font{
    font-size: 35px;
    color: white;
}

.container1 {
    position:relative;
}
.tag1 {
    position: absolute;
    z-index: 1;
}

.no-space {
    margin-bottom: 0;
}

.inactive{
    display: none;
}
.errorlbl{
    color: red !important;
}

/* Style for questions */

.cuestionario li{
    padding: 0 0 2rem 0;
} 

.cuestionario .col{
    padding: 0;
} 

.cuestionario li div {
    padding: 0 0 0 2rem;
} 

.cuestionario li .reset-col {
    padding: 0 0 2rem 2rem;
}

.cuestionario label{
    padding: 0 0 2rem 0;
} 
